<!DOCTYPE html>
<html>

<head>

  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{asset "built/styles.css"}}" />

  {{ghost_head}}

</head>

<body class="{{body_class}}">

  {{{body}}}

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        </p>
        <p>
        {{#if @blog.twitter}}
        <a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">
          <span class="icon">
            <i class="fa fa-lg fa-twitter"></i>
          </span>
        </a>
        {{/if}}
        </p>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>
  {{#if pagination.pages}}
  <script>
    var maxPages = parseInt('{{pagination.pages}}');
  </script>
  <script src="{{asset "js/infinitescroll.js"}}"></script>
  {{/if}}

  {{{block "scripts"}}}

  {{ghost_foot}}

</body>

</html>
